Repository fdmntl/fundamental-app, pull requests merged in 2025-01, with the labels that each got.

#110 Integrate subname creation in app
  components/TestModule.tsx
  services/viemService.ts
Labels: app, onchain

#113 Select token type in send inputs
  app/(tabs)/send.tsx
  components/Send/AmountInput.tsx
Labels: app

#118 Clean & Fix AppData
  app/(tabs)/_layout.tsx
  app/(tabs)/assets.tsx
  app/(tabs)/index.tsx
  app/_layout.tsx
  app/assets/[asset].tsx
  app/login.tsx
  components/Assets/AssetListDisplay.tsx
  components/CreateWalletButton.tsx
  components/DebugButton.tsx
  components/Graph.tsx
  components/LogoutButton.tsx
  components/TestModule.tsx
  components/Wrappers/AppData.tsx
  services/Supabase/useSupabaseUser.ts
  services/updateAppData.ts
  types/appData.ts
  types/data.ts
  types/graph.ts
  types/privy.ts
  types/supabaseTypes.ts
  utils/helpers/tokens/getUserTokenAmount.ts
  utils/helpers/tokens/getUserTokenValue.ts
Labels: app

#133 getTokenAmountPrice helper
  components/Send/AmountInput.tsx
  global.css
  tailwind.config.js
  utils/color-theme.ts
  utils/helpers/tokens/getTokenAmountPrice.ts
Labels: app

#119 Send page styling
  app/(tabs)/send.tsx
  components/Send/AmountInput.tsx
  components/Send/RecipientInput.tsx
  global.css
  tailwind.config.js
  utils/color-theme.ts
  utils/helpers/mappings/tokenIcons.ts
  utils/helpers/tokens/getTokenAmountPrice.ts
Labels: app

#116 74 create send sub page
  app/_layout.tsx
  app/assets/[asset].tsx
  app/send/[address].tsx
  components/Assets/AssetDetailsCTAs.tsx
  components/Send/AmountInput.tsx
  components/Send/SubSendHeader.tsx
Labels: app

#140 Resolve ENS
  components/TestModule.tsx
  services/viemService.ts
Labels: app, sidequest

#143 Integrate resolveEns to the Recipient input #142
  components/Send/RecipientInput.tsx
  utils/helpers/debounce.ts
Labels: app, onchain, sidequest

#147 Display resolved address in Recipient Input
  app/(tabs)/send.tsx
  components/Send/RecipientInput.tsx
  utils/helpers/strings/trimAddress.ts
Labels: app

#154 Revamp Dark Mode
  app/send/[address].tsx
  components/Wrappers/Frame.tsx
  components/Wrappers/ThemeWrapper.tsx
Labels: app, sidequest

#155 Fix app navigation
  app/(drawer)/(tabs)/_layout.tsx
  app/(drawer)/(tabs)/assets.tsx
  app/(drawer)/(tabs)/earn.tsx
  app/(drawer)/(tabs)/index.tsx
  app/(drawer)/(tabs)/send.tsx
  app/(drawer)/(tabs)/trade.tsx
  app/(drawer)/_layout.tsx
  app/(drawer)/profile.tsx
  app/(drawer)/settings.tsx
  app/_layout.tsx
  app/login.tsx
  app/profile.tsx
  app/settings.tsx
  package-lock.json
Labels: bug, app
